* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #00BFFF;
    display: flex;
    justify-content: center;
}

.sign_in {
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
}

.form {
    text-align: center;
}

.btn {
    text-decoration: none;
    background: #00BFFF;
    padding: 5px 50px;
    margin: 25px;
    color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 5px 5px #B0B0B0;
    border-radius: 5px;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 750px;
    margin: auto;
    padding: 150px;
}

.password {
    display: flex;
    justify-content: center;
    padding: 15px;
}